<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load bootstrap4 %}
    {% block content %}
    <div class="wrapper">
        <div style="text-align: center;">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                ID :
                <br>
                <input name="username" type="text">
                <br>
                PASSWORD :
                <br>
                <input name="password", type="text">
                <br><br>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>